

/* 
.redColor{color:red;}
.red-text{color:red;
} */

.custom-icon {
  height: 25px; /* Adjust the height to your desired size */
}
.custom-alert{
    height:10px;
    /* width: 100%; */
 /* Adjust max-width as needed */
    height: auto;
    text-transform: capitalize;
}

